<table summary="Film form fields">

<%= error_messages_for(@film) %>

    <a id="title"></a>
<div class="row">
    <div class="col-md-12">
        <div class="text-center header jumbotron" style="margin-bottom: 0px;">
            <h1><%= @film.title + "(" + @film.year.to_s + ")"%></h1>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="smooth_scroll('#video')">Video</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="smooth_scroll('#synopsis')">Synopsis</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="smooth_scroll('#credits')">Credits</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="smooth_scroll('#trivia')">Trivia</button>
            </div>
        </div>

        <div class="well well-sm">
          <div class="row panel panel-default">
            <div class="details col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <a id="video"></a>
                    <% begin %>
                    <% video = VideoInfo.new(@film.url).embed_code(iframe_attributes: {class:"embed-responsive-item"})%>
                    <% rescue %>
                        <label class="col-md-2 text-right">Video </label>
                        <div class="col-md-10">
                            <%= link_to @film.url, :target => "_blank" do %>
                                <span style="word-wrap:break-word;">
                                    <%= if @film.url == nil || @film.url.length == 0 then "Video URL Missing!" else @film.url end%>
                                </span>
                            <% end %>
                            <% if @film.password != nil && @film.password.length > 0 %>
                                <span class="label label-default" style="margin-left: 5px; word-wrap:break-word;"><%= "Password: " + @film.password %></span>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="embed-responsive embed-responsive-16by9">
                            <%=raw video%>
                        </div>
                    <% end %>
                </div>
            </div>
          </div>

            <div class="row spacer">
              <div class="details col-md-8 col-md-offset-2">
                  <a id="synopsis"></a>
                  <label class="col-md-2 text-right spacer">Synopsis</label>
                  <div class="col-md-10 half-spacer">
                    <div class="well well-sm " style="word-wrap: break-word;">
                        <p>
                            <%= if @film.synopsis == nil || @film.synopsis.length == 0 then "Synopsis Missing!" else @film.synopsis end%>
                        </p>
                    </div>
                  </div>
                </div>
          </div>


            <% if @film.roles != nil && @film.roles.size > 0 then%>
          <div class="row">
            <div class="panel panel-default"  style="padding-left:0px;padding-right:0px;">
                <a id="credits"></a>
              <div class="panel-heading text-center">
                <h3><b>Credits</b></h3>
              </div>
                <% lastRole = ""%>
                  <% @film.roles.each do |role|%>
                    <%= link_to({:controller=>"filmmaker", :action=>"view", :id=>role.filmmaker.id.to_s}, :class=>"action filmmaker") do%>
                      <div class="row hover-grey" style="padding-top:5px; padding-bottom:5px;">
                          <% if lastRole != role.credit %>
                          <br>
                          <% end %>
                        <div class="col-md-6 credit text-right"><b>
                            <% if lastRole != role.credit %>
                              <%=role.credit%>
                              <% lastRole = role.credit%>
                              <% if role.credit == ""%>
                                Uncredited
                              <% end %>
                          <% end %>
                        </b></div>
                        <div class="col-md-6 credit text-left">
                          <%=role.filmmaker.firstName + " " + role.filmmaker.lastName%>
                        </div>
                  </div>
                    <% end %>
                  <% end %>
            </div>
          </div>
        <% end %>

          <% if @film.trivia != nil && @film.trivia.size > 0 then%>
          <div class="row">
            <div class="panel panel-default col-md-6 col-md-offset-3 text-center" style="padding-left:0px;padding-right:0px;">
                <a id="trivia"></a>
                <div class="panel-heading">
                    <h3><b>Trivia</b></h3>
                </div>
                <div class="list-group list-hover">
                  <% @film.trivia.each do |trivia|%>
                    <li class="list-group-item">
                      <%=trivia.body%>
                    </li>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
</div>
