<!DOCTYPE html>
<html>

    <head>
        <title>SMDB <%= if params[:controller] != nil && params[:action] != nil && @page_heading == nil then " | " + params[:controller].titleize() + " " + params[:action].titleize() elsif @page_heading != nil then " | " + @page_heading.titleize() end%></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <%= stylesheet_link_tag('application', :media => 'all') %>
        <%= javascript_include_tag "application" %>
    </head>

    <body>

      <% if !flash[:notice].blank? %>
        <div class="notice alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header" style="margin-left:25px; margin-right:15px;">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <%= link_to({:controller => 'film', :action => 'search'}, :class => 'action home uncolored-link') do%>
                    <div class="navbar-brand text-center logo-container"><div class="logo">
                        <font size= "10">SMDB</font>
                        <a href="#" class="dropdown-toggle uncolored-link hover-glow" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                          <ul class="dropdown-menu" role="menu" style="right: auto; left: auto;">
                            <li><%= link_to "Films", :controller=>"film", :action=>"search"%></li>
                            <li class="divider"></li>
                            <li><%= link_to "Filmmakers", :controller=>"filmmaker", :action=>"search"%></li>
                          </ul>
                    </div></div>
                  <% end %>
                </div>

                <div class="navbar-collapse collapse" id="searchbar">
                    <%= form_tag url_for(:controller=>'search', :action => 'search'), method: "get", class: 'form-inline' do %>
                    <div class="form-group" style="display:inline;">
                      <div class="input-group" style="display:table; margin-top:8px;">
                        <span class="input-group-btn" data-toggle="dropdown" style="width: 1%;">
                            <%= select_tag(:category, options_for_select([['Films', 'film'],['Filmmakers', 'filmmaker']], params[:controller]), :class=>"form-control btn btn-default input-group")%>
                        </span>
                        <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text" style="margin-top">
                        <span class="input-group-btn" style="width:1%">
                            <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-search"> </i></button>
                        </span>
                      </div>
                    </div>
                  <% end %>

                </div><!--/.nav-collapse -->
              </div>
          </nav>


    <%=yield%>

    </body>

</html>
